@import "tailwindcss";
@plugin "daisyui" {
  /* themes: all; */
  themes:
    light --default,
    dark --prefersdark;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "IBM Plex Serif", serif;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  scroll-behavior: smooth;
  background-image:
    linear-gradient(
      225deg,
      color-mix(
        in oklab,
        var(--color-base-100) /* var(--color-base-100) */ 40%,
        transparent
      ),
      color-mix(
        in oklab,
        var(--color-base-200) /* var(--color-base-200) */ 40%,
        transparent
      ),
      color-mix(
        in oklab,
        var(--color-base-300) /* var(--color-base-300) */ 40%,
        transparent
      )
    ),
    url("image.svg");
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
  background-repeat: no-repeat, no-repeat;
}
html[data-theme] {
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --depth: 0;
}

.page-height {
  @apply max-h-[calc(100dvh-4rem)];
}

.custom-grad {
  background-image: linear-gradient(
    225deg,
    color-mix(
      in oklab,
      var(--color-base-100) /* var(--color-base-100) */ 70%,
      transparent
    ),
    color-mix(
      in oklab,
      var(--color-base-200) /* var(--color-base-200) */ 70%,
      transparent
    ),
    color-mix(
      in oklab,
      var(--color-base-300) /* var(--color-base-300) */ 70%,
      transparent
    )
  );
}
