@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "IBM Plex Serif", serif;
  transition-property: all;
  transition-duration: 0.25s;
  /* transition-timing-function: linear; */
  scroll-behavior: smooth;
}
html[data-theme] {
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --depth: 0;
}

.page-height {
  @apply max-h-[calc(100dvh-64px)];
}
