@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "IBM Plex Serif", serif;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  scroll-behavior: smooth;
}
html[data-theme] {
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --depth: 0;
  min-height: 100dvh;
  background-image: url("image.svg");
  background-size: cover, cover;
  background-position: center, center;
  /* background-blend-mode: color-dodge; */
  background-repeat: no-repeat, no-repeat;
}

.page-height {
  @apply max-h-[calc(100dvh-4rem)];
}

.custom-grad {
  @apply bg-linear-to-br from-base-100/70 to-base-300/70 via-base-200/70 backdrop-blur-md;
}
